* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  width: 100%;
  height: 100vh;

  .weater_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2.5vw 0 2.5vw;

    .phone_border {
      border: solid 1.5px black;
      border-radius: 60px;
      width: 60vh;
      height: 95vh;

      .phone {
        width: 100%;
        height: 100%;
        background: linear-gradient(165deg, #BCE7F4 5%, #82C8DD 17%, #F6AB79 37%, #818CD2 61%, #252F72 79%, #11194E 93%);
        box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
        border: solid 10px rgba(255, 255, 255);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1.75vh 1.75vh 1.75vh 1.75vh;

        h1 {
          color: white;
          font-size: 3.5vh;
          margin: 0.25vh 0 0 0.25vh;
          word-break: keep-all;
        }

        p {
          font-size: 3vh;
          color: white;
          margin: 1vh 0 0 0;
          font-weight: 500;
          filter: blur(0px);
          z-index: 99999;
        }

        .topPhone, .footerPhone .weatherday {
          width: 100%;
          height: 25vh;
          background: linear-gradient(175deg, #82C8DD 40%, rgb(226, 226, 226) 90%);
          border-radius: 25px;
          padding: 1vh 2vh;
          margin: 2vh 0 0 0;


          .h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1{
              display: flex;
              align-items: center;
              font-size: 3vh;
            }
          }

          img {
            height: 3.5vh;
          }

          .temp, .info_1, .info_2 {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 6vh;

            p {
              font-size: 2.5vh;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin: 0;
            }

            img {
              height: 3vh;
            }
          }

          .info_2 {
            grid-template-columns: auto 1fr auto;

            p {
              justify-content: center;
            }
          }
        }

        .footerPhone {
          flex: 1;
          overflow: hidden;
          width: 100%;
          height: 100%;
          border-radius: 0 0 40px 40px;


          .weatherday {
            margin: 1.5vh 0;

            .h1 {
              h1{
                font-size: 2.8vh;
              }
            }

          }
        }
      }
    }
  }

  .sun_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2em;
    }
  }
}


@media (orientation: portrait) {
  .App {
    .weater_container {
      .phone_border {
        .phone {
          .topPhone, .footerPhone .weatherday {
            height: 20vh;
            margin: 1.5vh 0 2.5vh 0;

            h1{
              font-size: 2.8vh;
            }

            .temp, .info_1, .info_2 {
              grid-template-rows: 5vh;

              p {
                font-size: 2vh;
              }
            }
          }
          .footerPhone {
            .weatherday {
              .h1{
                display: flex;

                h1{
                  align-items: center;
                  font-size: 2vh;
                }
              }
            }
          }
        }
      }
    }
  }

}